.main-background{
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: relative;
}
.img-container{
    width: 100%;
    height: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.hero-img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}

.logo-img{
    z-index: 1;
    margin-top: 80px;
    margin-left: -20px;
}

.translation-containers{
    position: absolute;
    background-color: none;
    top: 20%;
    left: 0;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


@media (max-width: 1024px){
    .main-background{
        height: 130vh;
    }

    .translation-containers{
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    }
}