.main-container{
    width: 380px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
} 

button, .notActive{
    background: none;
    border: none;
    width: 80px;
    font-size: 15px;
    height: 40px;
    border-radius: 10px;
    color: #636e7f;
    font-weight: 700;
    cursor: pointer;
}
.notActive:hover{
    color: #F9FAFB;
    background-color: hsla(215, 23%, 84%, 0.4);
}

.active{
    color: #F9FAFB;
    background-color: hsla(215, 23%, 84%, 0.4);
}


select{
    width: 80px;
    height: 40px;
    background: none;
    border: none;
    border-radius: 10px;
    color: #636e7f;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

option{
    background: none;
    color: black;
}

select:hover{
    color: #F9FAFB;
    background-color: hsla(215, 23%, 84%, 0.4);
}
