.input-container{
    width: 40%;
    height: 370px;
    border-radius: 25px;
    background-color: #212936cc;
    border: 1px solid #4D5562;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.selection-container{
    width: 90%;
    height: 22%;
    display: flex;
    padding-top: 10px;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid #394150;
}

.btn-styling{
    width: 150px;
    height: 40px;
    background: none;
    border: none;
    border-radius: 10px;
    color: #636e7f;
    font-size: 15px;
    font-weight: 700;
}

.btn-styling:hover{
    color: #F9FAFB;
    background-color: hsla(215, 23%, 84%, 0.4);
}

.textInputContainer{
    width: 90%;
    margin-top: 15px;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.inp-textArea{
    background: none;
    width: 100%;
    height: 85%;
    border: none;
    overflow: auto; 
    resize: none;
    color: #F9FAFB;
    font-size: 18px;
    padding-top: 10px;
    font-weight: 500;
    outline: none;
}

.counter{
    font-size: 12px;
    color: #636e7f;
    width: 100%;
    text-align: right;
}

.translate-btn-container{
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.translate-btn{
    width: 160px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3662E3;
    color: #F9FAFB;
    cursor: pointer;
    border: 1px solid #7CA9F3;
}

